h1 {
    color:rgb(0, 255, 20)
}
footer { 
     
    width: 100%;
    background-color: #C490D1;
    color: yellow;
    bottom: 0;
    font-size: 0.5em;
    text-align: center;
    transition: 0.5s;
    position: fixed;
    down: 0;
    
    
}
footer:hover{
    background-color:#70FF0A ; 
   
    
    color: lightblue;
    font-size: 2em;
}

header {
    background-color: #70FF0A;
    text-align: center;
    width: 100%;
    height: max-content;
    position: fixed;
    left: 0;
    top: 0;
    transition:1s;
}
 
header:hover{
    font-size: 1.5em;
}


 














