h1 {
    color:rgb(0, 255, 20)
}
footer { 
     
    width: 100%;
    background-color: rgb(33,150,100);
    color: yellow;
    bottom: 0;
    font-size: 0.5em;
    text-align: center;
    transition: 0.5s;
    position: fixed;
    left: 0;
    down: 0;
    
    
}
footer:hover{
    background-color: rgb(2,252,165); 
    color: lightblue;
    font-size: 2em;
}

header {
    background-color: rgb(252,14,7);
    text-align: center;
    width: 100%;
    height: max-content;
    position: fixed;
    left: 0;
    top: 0;

}
 
header:hover{
    font-size: 1.5em;
}
 














