@import url('https://fonts.googleapis.com/css2?family=Domine&display=swap');
h1 {
    color:rgb(0, 255, 20)
}
#trailer { 
    background-color: #53B3F8;
    font-family:Domine;
    
}

#index {
    background-color:#E94F37;
    font-family: Domine;
    color:#131515
 
footer { 
     
    width: 100%;
    background-color: #439A86;
    color: yellow;
    bottom: 0;
    font-size: 0.5em;
    text-align: center;
    transition: 0.5s;
    position: fixed;
    down: 0;
    
    
}
footer:hover{
    background-color:#70FF0A ; 
    color: #3B28CC;
    font-size: 2em;
}

header {
    background-color: #439A86;
    text-align: center;
    width: 100%;
    height: max-content;
    position: fixed;
    left: 0;
    top: 0;
    transition:1s;
}
 
header:hover{
    font-size: 1.5em;
    background-color: #70FF0A;
    color: #3B28CC;
}



 














